
footer
  .information
    p See how this site is made on
      =' '
      a( href='//github.com/harrymt/web_playground' ) GitHub
      |.
      =' Made by '
      a( href='http://www.harrymt.com', target='_blank', rel='noopener' )  Harry Mumford-Turner
      |.
    p Number of total website views
      =' '
      span.js-hits
