
footer
  .information
    p Made by&#32;
      a( href='http://www.harrymt.com', target='_blank', rel='noopener' ) harrymt
      =', code on '
      a( href='//github.com/harrymt/web_playground' ) Github.
    p Number of total website views
      =' '
      span.js-hits
