
- var menu_items = ["Home", "HTML", "CSS", "JS", "PNG", "SVG", "Server", "Database", "Dynamic", "Report", "Extras"]


//- Create a navigation item
mixin navlink(menu, is_active)
  if (menu == menu_items[0])
    if (is_active)
      a.active(href="/")= menu
    else
      a(href="/")= menu
  else
    if (is_active)
      a.active(href="/")= menu
    else
      a(href="/" + menu.toLowerCase())= menu





nav.main_menu
  each menu, index in menu_items
    +navlink(menu, (menu == title))
    if index < menu_items.length - 1
        span |