head
  title Web Playground
  meta( charset='utf-8' )
  meta( name='description', content='A web playground, showing off different technologies as part of the University of Bristol unit, web technologies.' )
  meta( name='keywords', content='web playground, front-end, back-end, university of bristol, web technologies' )
  meta( name='author', content='Harry Mumford-Turner' )
  meta( name='viewport', content='width=device-width, initial-scale=1' )
  meta( name='theme-color', content='cornflowerblue' )
  meta( http-equiv='X-UA-Compatible', content='IE=Edge' )
  link( rel='manifest', href='/manifest.json' )
  link( rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans' )
  link( rel='stylesheet', href='//cdn.rawgit.com/harrymt/simplestyle/master/simplestyle.min.css' )
  link( rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css' )
  link( rel='stylesheet', href='/css/style.css' )
