head
  title= title
  meta( name='theme-color', content='cornflowerblue' )
  link( rel='manifest', href='/manifest.json' )
  link( rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' )
  link( rel='stylesheet', href='//rawgit.com/harrymt/simplestyle/master/simplestyle.min.css' )
  link( rel='stylesheet', href='/css/style.css' )
