
//- Create a navigation item
mixin navlink(menu_item, current_page, is_dropdown)
  if (menu_item === 'Home' )
    if (menu_item === current_page)
      a.active( href='/' )= menu_item
        if (is_dropdown)
          =' '
          svg.icon.icon-circle-down
            use( xlink:href='#icon-circle-down' )
    else
      a( href='/' )= menu_item
        if (is_dropdown)
          =' '
          svg.icon.icon-circle-down
            use( xlink:href='#icon-circle-down' )
  else
    +makeURL(menu_item, (menu_item == current_page), is_dropdown)

//- This mixin creates a URL link
mixin makeURL(item, is_active, is_dropdown)
  if(is_active)
    a.active( href='/' + item.toLowerCase() )= item
      if (is_dropdown)
        =' '
        svg.icon.icon-circle-down
          use( xlink:href='#icon-circle-down' )
  else
    a( href='/' + item.toLowerCase() )= item
      if (is_dropdown)
        =' '
        svg.icon.icon-circle-down
          use( xlink:href='#icon-circle-down' )

//- Start rendering page
ul.navigation
  li
    +navlink('Home', title, false)
  li
    +navlink('Front-End', title, true)
    ul.navigation-nested
      li
        a( href='front-end#html' ) HTML
      li
        a( href='front-end#css' ) CSS
      li
        a( href='front-end#js' ) JS
      li
        a( href='front-end#png' ) PNG
      li
        a( href='front-end#svg' ) SVG
  li
    +navlink('Back-End', title, true)
    ul.navigation-nested
      li
        a( href='back-end#server' ) Server
      li
        a( href='back-end#database' ) Database
      li
        a( href='back-end#dynamic' ) Dynamic Pages
      li
        a( href='back-end#performance' ) Performance
  li
    +navlink('Report', title, false)
  li.right
    a( href='//github.com/harrymt/web_playground' ) GitHub
