head
  title= title
  meta( name='viewport', content='width=device-width, initial-scale=1' )
  meta( name='theme-color', content='cornflowerblue' )
  meta( http-equiv='X-UA-Compatible', content='IE=Edge' )
  meta( charset='UTF-8' )
  link( rel='manifest', href='/manifest.json' )
  link( rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' )
  link( rel='stylesheet', href='//rawgit.com/harrymt/simplestyle/master/simplestyle.min.css' )
  link( rel='stylesheet', href='/css/style.css' )
