
//- Create a navigation item
mixin navlink(menu_item, current_page)
  if (menu_item == "Home")
    if (menu_item == current_page)
      a.active(href="/")= menu_item
    else
      a(href="/")= menu_item
  else
    if (menu_item == current_page)
      a.active(href="/")= menu_item
    else
      a(href="/" + menu_item.toLowerCase())= menu_item


ul.navigation
  li
    +navlink("Home", title)
  li
    +navlink("Front-End", title)
    =" "
    i.fa.fa-angle-down
    ul
      li
        a(href="front-end#html") HTML
      li
        a(href="front-end#css") CSS
      li
        a(href="front-end#js") JS
      li
        a(href="front-end#png") PNG
      li
        a(href="front-end#svg") SVG
  li
    +navlink("Back-End", title)
    =" "
    i.fa.fa-angle-down
    ul
      li
        a(href="back-end#server") Server
      li
        a(href="back-end#database") Database
      li
        a(href="back-end#dynamic") Dynamic
  li
    +navlink("Report", title)
  li
    +navlink("Extras", title)
  li
    +navlink("About", title)
