$primaryColor : #555;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $primaryColor;
}

.main_menu span {
  padding: 10px;
}

.active {
  font-weight: bold;
}

footer {
  span {
    padding-right: 4px;
  }
}