
//variables
$background-purple: #eee;
$subtle-white: #f9f9f9;
$subtle-grey: #f2f2f2;
$masked-grey: #333;
$shadow-color: #000;
$blue: #f03861;

$open-sans: 'Open Sans', sans-serif;

.active {
  font-weight: bold;
}

body,
html {
  height: 100%;
  background-color: $background-purple;
}



// page container
.container {
  width: 100%;
  height: 100%;
}

.material_design {
  width: 80%;
  margin: 5% auto 0;
  box-shadow: 0 4px 12px rgba($shadow-color, 0.1);
  background-color: $subtle-white;

  h1 {
    color: $masked-grey;
    font-size: 1.5rem;
    padding: 0 10px;
    border-left: 3px solid $blue;
  }

  h3 {
    color: darken($subtle-grey, 7%);
    font-size: 1rem;
    font-weight: 300;
    padding: 0 10px;
    border-left: 3px solid $blue;
  }

  p {
    padding: 10px 0;
  }

}


footer {
  @extend .material_design;
  margin-top: 20px;
}

.main {
  @extend .material_design;
}


.block_colour {
  width: 100%;
  height: 300px;
  background-color: $blue;
}

.information {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
  font-family: $open-sans;

}



// HEADER


ul.navigation li ul li a,
ul.navigation li a {
  display: block;
  padding: 15px;
}

ul.navigation {
  font-size: 0;
  list-style-type: none;

  // initial li
  li {
    font-family: $open-sans;
    font-size: 1rem;
    font-weight: 400;
    color: $masked-grey;

    display: inline-block;
    // padding: 15px;
    position: relative;

    a {
      text-decoration: none;
      color: $masked-grey;
    }


    // secondary ul
    ul {
      display: none;
    }
    // initial li:hover
    &:hover {
      cursor: pointer;
      background-color: $subtle-grey;

      // secondary ul visibility change
      ul {
        display: block;

        width: 200px;
        right: 0;

        position: absolute;

        // secondary li
        li {
          display: block;
          background-color: darken($subtle-white, 7%);
          span {
            float: right;
            color: $subtle-white;
            background-color: $blue;
            padding: 2px 5px;
            text-align: center;
            font-size: .8rem;
            border-radius: 3px;
          }

          &:hover {
            background-color: darken($subtle-white, 10%);
            span {
              background-color: darken($blue, 5%);
            }
          }
        }
      }
    }

  }
}
