extends layout.pug

block content
  h1= message
  p Sorry but, the page you are looking for does not exist.
  if error
    h2= error.status
    pre= error.stack
  else
    h2 There has been an unexpected error.
