doctype html
html( lang='en-gb' )
  include includes/head.pug
  body
    include includes/svgdefs.pug
    noscript
      .banner
        p Please
          =' '
          a( href='http://enable-javascript.com/' ) enable Javascript.
    .container
      .main
        include includes/header.pug
        .block_colour
        .information
          block content
      include includes/footer.pug
    include includes/foot.pug
