body,
html {
  height: 100%;
  background-color: $background-purple;
}


// page container
.container {
  width: 100%;
  height: 100%;
}

.active {
  font-weight: bold;
}

.main {
  @extend %material;
}

%material {
  width: 80%;
  margin: 5% auto 0;
  box-shadow: 0 4px 12px rgba($shadow-color, 0.1);
  background-color: $subtle-white;


  @include breakpoint(mobile) {
    width: 95%;
  }
}
