@mixin breakpoint($point) {
    @if $point == desktop {
        @media (min-width: 1100px) { @content; }
    } @else if $point == laptop {
        @media (max-width: 800px) { @content; }
    } @else if $point == tablet {
        @media (max-width: 780px) { @content; }
    } @else if $point == mobile {
        @media (max-width: 620px)  { @content; }
    } @else if $point == tiny {
        @media (max-width: 440px)  { @content; }
    } @else {
        @media (max-width: $point) { @content; }
    }
}