
ul.navigation-nested li a,
ul.navigation li a {
  display: block;
  padding: 15px;
}

// secondary ul visibility change
ul.navigation-nested {
  // secondary li
  li {
    display: block;
    background-color: darken($subtle-white, 7%);

    a {
      width: 200px;
    }

    &:hover {
      background-color: darken($subtle-white, 10%);
    }
  }
}

ul.navigation {
  font-size: 0;
  list-style-type: none;

  // initial li
  li {
    @include opensans;

    font-size: 1rem;
    font-weight: 400;
    color: $masked-grey;

    display: inline-block;
    position: relative;

    a {
      text-decoration: none;
      color: $masked-grey;
    }

    // secondary ul
    ul.navigation-nested {
      display: none;
    }
  }

  li:hover {
    cursor: pointer;
    background-color: $subtle-grey;

    ul.navigation-nested {
      display: block;
      right: 0;
      position: absolute;
    }
  }
}
