extends ../layout

block content
  h1= title
  p This was built as part of the University of Bristol unit, web technologies. A range of different technologies were explored and a full write up is found&#32;
    a(href="/report") here.
  p Welcome to #{title}