extends ../layout.pug

block content
  h1= title
  p TODO: Take from report.md
  p TODO: Anymore headings that we make in report, add them here and in nav, e.g. testing and security

  h2#server Server
  p TODO: Take from report.md

  h2#database Database
  p TODO: Take from report.md

  h2#dynamic Dynamic Pages
  p TODO: Take from report.md
