extends ../layout.pug

block content
  h1= title
  p Welcome to title

  h2#server Server
  p Details about how the server was constructed.

  h2#database Database
  p An embedded database SQLite is used to store the number of hits to the website. Interaction with this database and other functionality is located in a separate Javascript module called database.js.

  h2#dynamic Dynamic Pages
  p Details about how dynamic pages are displayed. Pug.
