extends ../layout.pug

block content
  h1= title
  p Welcome to title

  h2#html Hyper Text Markup Language
  p Details about how the html was constructed.

  h2#css Cascading StyleSheet
  p Details about how the css works.

  h2#js Javascript
  p Details about how javascript works.

  h2#png PNG
  p Using HTML5 Canvas, shapes are programatically displayed and a simple animation shows raindrops over a city.
  canvas#png-example

  h2#svg SVG
  p Here are some animated loading icons, created in Inkscape, then animated using SVG animations.
  .svgs
    img( src='/svg/spinnera.svg', alt='Spinner-A' )
    img( src='/svg/spinnerb.svg', alt='Spinner-B' )
    img( src='/svg/spinnerc.svg', alt='Spinner-C' )
    img( src='/svg/spinnerd.svg', alt='Spinner-D' )
  p The top navigation drop-down icon is also an SVG, (
    svg.icon.icon-circle-down
      use( xlink:href='#icon-circle-down' )
    =' ) which is preferred over a font, as SVGs load faster and do not require external fonts to be loaded.'
