extends ../layout

block content
  h1= title
  p Welcome to #{title}

  h2(id='html') Hyper Text Markup Language
  p Details about how the html was constructed.

  h2(id='css') Cascading StyleSheet
  p Details about how the css works.

  h2(id='js') Javascript
  p Details about how javascript works.

  h2(id='png') Portable Network Graphic
  p The png photos.

  h2(id='svg') SVG
  p Details of SVG.