extends ../layout.pug

block content
  h1= title
  p Welcome to title

  h2#html Hyper Text Markup Language
  p Details about how the html was constructed.

  h2#css Cascading StyleSheet
  p Details about how the css works.

  h2#js Javascript
  p Details about how javascript works.

  h2#png Portable Network Graphic
  p The png photos.

  h2#svg SVG
  p Details of SVG.
  p Description about quicksort.
  span#quicksort Quicksort
