extends ../layout

block content
  p The report below is written in Markdown (report.md). A PDF version can be generated here.
    =" "
    a(href="/report/pdf/", class="btn btn-inline") Generate PDF

  p

  include:markdown-it(linkify langPrefix='highlight-') ../../report.md