extends ../layout.pug

block content
  h1=title
  p The report below is written in Markdown (report.md).
  p A PDF version can be generated
    =' '
    a.btn.btn-inline#js-load-report( href='/report/pdf/' ) here
    ='.'

  ps
  hr
  p

  include:markdown-it( linkify ) ../../report/report.md
