extends ../layout.pug

block content
  h1=title
  p The report below is written in Markdown (report.md).

  .row
    .half
      p A PDF version of this markdown file can be generated server-side using a nodejs module.
    .half
      p
        a.button#js-load-report( href='/report/pdf/' ) Generate PDF version

  ps
  hr
  p
  .pdf
    include:markdown-it( linkify, html ) ../../report/report.md
