extends ../layout

block content
  h1=title
  p The report below is written in Markdown (report.md).
  p A PDF version can be generated
    =" "
    a(href="/report/pdf/", id="js-load-report", class="btn btn-inline") here
    ="."

  p
  hr
  p

  include:markdown-it(linkify langPrefix='highlight-') ../../report/report.md